{
  "openapi": "3.0.0",
  "info": {
    "title": "recency-surveillance",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://ugisl.mets.or.ug",
      "description": "URL to the OpenHIM based mediator"
    }
  ],
  "paths": {
    "/recency": {
      "post": {
        "summary": "",
        "operationId": "recency",
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "security": [
          {
            "HTTP Basic Authenticatiion": []
          }
        ],
        "parameters": [
          {
            "schema": {
              "type": "string"
            },
            "in": "header",
            "name": "x-emr-date",
            "description": "ISO 8601 date and timestamp from the server generating recency report"
          }
        ],
        "requestBody": {
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "properties": {
                  "dhis2_organization_uuid": {
                    "type": "string",
                    "default": "text",
                    "description": "DHIS2 uuid for the facility sending the data "
                  },
                  "data": {
                    "description": "CSV content containing a single row for each HTS test from the facility ",
                    "type": "object",
                    "required": [
                      "dhis2_orgunit_uuid",
                      "hiv_final_test_result",
                      "date_of_birth",
                      "sex",
                      "visit_date",
                      "serial_number",
                      "encounter_uuid"
                    ],
                    "properties": {
                      "dhis2_orgunit_uuid": {
                        "type": "string",
                        "default": "text"
                      },
                      "referred_location": {
                        "type": "string",
                        "default": "text"
                      },
                      "referred_to_hiv_care": {
                        "type": "string",
                        "enum": [
                          "No",
                          "Yes"
                        ]
                      },
                      "referred_to_tb_services": {
                        "type": "string",
                        "enum": [
                          "No",
                          "Yes"
                        ]
                      },
                      "presumtive_tb": {
                        "type": "string",
                        "enum": [
                          "No",
                          "Yes",
                          "T.B Follow-up"
                        ]
                      },
                      "couple_result": {
                        "type": "string",
                        "enum": [
                          "DISCORDANT COUPLE",
                          "Cordant",
                          "Concordant Negative",
                          "Concordant Positive"
                        ]
                      },
                      "couple_result_received": {
                        "type": "string",
                        "enum": [
                          "No",
                          "Yes"
                        ]
                      },
                      "individual_result_received": {
                        "type": "string",
                        "enum": [
                          "No",
                          "Yes"
                        ]
                      },
                      "recent_hiv_test_result": {
                        "type": "string",
                        "enum": [
                          "Recent",
                          "Long Term",
                          "Negative",
                          "Invalid"
                        ]
                      },
                      "recency_test_concent": {
                        "type": "string",
                        "enum": [
                          "No",
                          "Yes"
                        ]
                      },
                      "hiv_final_syphillis_duo_result": {
                        "type": "string",
                        "enum": [
                          "Reactive",
                          "Non-reactive"
                        ]
                      },
                      "hiv_final_test_result": {
                        "type": "string",
                        "enum": [
                          "HIV+",
                          "HIV-",
                          "INC (HTC)",
                          "NT (HTC)"
                        ]
                      },
                      "counseled_as": {
                        "type": "string",
                        "enum": [
                          "Individual",
                          "Couple",
                          "Group"
                        ]
                      },
                      "pretest_counselling_done": {
                        "type": "string",
                        "enum": [
                          "No",
                          "Yes"
                        ]
                      },
                      "partner_recent_test_result": {
                        "type": "string",
                        "enum": [
                          "HIV+",
                          "HIV-",
                          "UNKNOWN"
                        ]
                      },
                      "prior_partner_testing": {
                        "type": "string",
                        "enum": [
                          "Yes",
                          "No",
                          "Don't know",
                          "Not Applicable"
                        ]
                      },
                      "number_of_sexual_partners_last_12_months": {
                        "type": "integer",
                        "default": "integer"
                      },
                      "number_of_tests_last_12_months": {
                        "type": "integer",
                        "default": "integer"
                      },
                      "last_hiv_test_result": {
                        "type": "string",
                        "enum": [
                          "HIV+",
                          "HIV-"
                        ]
                      },
                      "last_hiv_test_date": {
                        "type": "string",
                        "default": "yyyy-MM-dd "
                      },
                      "first_time_hiv_test": {
                        "type": "string",
                        "enum": [
                          "No",
                          "Yes"
                        ]
                      },
                      "special_category_other": {
                        "type": "string",
                        "default": "text"
                      },
                      "special_category": {
                        "type": "string",
                        "enum": [
                          "Prisoners",
                          "PWIDS",
                          "Uniformed forces",
                          "migrant mothers",
                          "Truckers",
                          "Fisher folk",
                          "Refugees",
                          "Preganant",
                          "Breastfeeding",
                          "AGYW",
                          "People with Disabilities (PWD)",
                          "Others (Specify)"
                        ]
                      },
                      "reason_for_testing_other": {
                        "type": "string",
                        "default": "text"
                      },
                      "reason_for_testing": {
                        "type": "string",
                        "enum": [
                          "Assisted Patner Notification (APN)",
                          "Index Client Testing other than APN",
                          "PrEP",
                          "PEP",
                          "HIV Self-Test Positive",
                          "Inconclusive HIV Result",
                          "Self Initiative",
                          "PMTCT",
                          "Others"
                        ]
                      },
                      "community_testing_entry_point_other": {
                        "type": "string",
                        "default": "text"
                      },
                      "community_testing_entry_point": {
                        "type": "string",
                        "enum": [
                          "Home Based",
                          "Hotspot",
                          "Work Place",
                          "Outreach",
                          "Drop in Centre (DIC)",
                          "Others"
                        ]
                      },
                      "health_unit_testing_entry_point_other": {
                        "type": "string",
                        "default": "text"
                      },
                      "health_unit_testing_entry_point": {
                        "type": "string",
                        "enum": [
                          "OPD",
                          "Ward",
                          "ART clinic",
                          "Tb clinic",
                          "Nutrition unit",
                          "Young Child clinic (YCC)",
                          "ANC",
                          "Maternity",
                          "PNC",
                          "Family Planning",
                          "SMC",
                          "STI Clinic",
                          "Others (Specify)"
                        ]
                      },
                      "hts_approach": {
                        "type": "string",
                        "enum": [
                          "Pitc",
                          "CICT(HCT)"
                        ]
                      },
                      "hts_delivery_model": {
                        "type": "string",
                        "enum": [
                          "Health Facility(HF)",
                          "Community"
                        ]
                      },
                      "accompanied_by_other": {
                        "type": "string",
                        "default": "text"
                      },
                      "accompanied_by": {
                        "type": "string",
                        "enum": [
                          "GRANDPARENT",
                          "Father",
                          "AUNT",
                          "OTHER FAMILY MEMBER",
                          "MOTHER",
                          "Guardian",
                          "Other Specified Family Member",
                          "Both Parents"
                        ]
                      },
                      "marital_status": {
                        "type": "string",
                        "enum": [
                          "SINGLE",
                          "MARRIED",
                          "DIVORCED",
                          "SEPARATED",
                          "WIDOWED",
                          "CHILD",
                          "NEVER MARRIED",
                          "LIVING WITH PARTNER"
                        ]
                      },
                      "date_of_birth": {
                        "type": "string",
                        "default": "yyyy-MM-dd ",
                        "format": "date"
                      },
                      "sex": {
                        "type": "string",
                        "enum": [
                          "M",
                          "F"
                        ]
                      },
                      "health_unit_district": {
                        "type": "string",
                        "default": "text"
                      },
                      "health_unit_sub_county": {
                        "type": "string",
                        "default": "text"
                      },
                      "health_unit_name": {
                        "type": "string",
                        "default": "text"
                      },
                      "visit_date": {
                        "type": "string",
                        "default": "yyyy-MM-dd ",
                        "format": "date"
                      },
                      "serial_number": {
                        "type": "string",
                        "default": "text"
                      },
                      "encounter_uuid": {
                        "type": "string",
                        "default": "text"
                      }
                    }
                  }
                },
                "required": [
                  "dhis2_organization_uuid",
                  "data"
                ]
              },
              "examples": {}
            }
          },
          "description": ""
        },
        "description": "HIV Recency Surveillance end-point",
        "tags": [
          "recency"
        ]
      }
    }
  },
  "components": {
    "securitySchemes": {
      "HTTP Basic Authenticatiion": {
        "type": "http",
        "scheme": "basic"
      }
    }
  }
}